<section class="hero">
  <div class="container hero__container-top">
    <div class="hero__left">
      <h2 class="hero__title">Everything you need to get the attention of your audience</h2>
      <p class="hero__subtitle text-p-subtitle">
        Our digital agency helps clients develop, <br>
        implement and maintain successful digital <br> 
        marketing strategies across all channels. Also <br> 
        work with you to build your website and create <br> 
        online businesses that grow.
      </p>
    </div>
    <div class="hero__right">
      <div class="hero__img">
        <img class="img-light-theme" src="./assets/icons/Linked Path dark.png" alt="">
        <img class="img-dark-theme" src="./assets/icons/Linked Path light.png" alt="">
      </div>
    </div>
  </div>
    <div class="hero__inner">
      <ul class="hero__list">
        <li class="hero__item">
            <img src="./assets/images/about/hero-img-1.png" alt="">
        </li>
        <li class="hero__item">
            <img src="./assets/images/about/hero-img-2.png" alt="">
            <div class="hero__item-title heading-h5">What we believe in</div>
            <div class="hero__item-text text-p-medium">Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...</div>
            <button class="hero__btn button-form">See Details -></button>
        </li>
        <li class="hero__item">
            <img src="./assets/images/about/hero-img-3.png" alt="">
        </li>
      </ul>
    </div>
</section>
