.hero {
  position: relative;
  padding: 201px 0 165px;

  &__container{
    @include mini-desktop{
    text-align: center;
    }
  }

  @include mini-desktop {
    padding: 171px 0 121px;
  }

  @include mobile{
    padding-bottom: 90px;
  }

  &__title{
    margin-bottom: 55px;
    letter-spacing: -3px;

    @include tablet{
      margin-bottom: 25px;
    }

    @include mobile{
      letter-spacing: normal;
    }
  }

  &__subtitle{
    @include mini-desktop{
      display: block;
    }
  }
}