<section class="article">
  <div class="container article__container">
    <ul class="article__list">
      <li class="article__item item-1">
        <img class="item-img" src="./assets/images/blog/article-img-1.png" alt="">
        <h3 class="item-title heading-h3">How we perform long-running tasks using AWS services</h3>
        <p class="item-text text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
      </li>
      <li class="article__item item-2">
        <img class="item-img" src="./assets/images/blog/article-img-2.png" alt="">
        <h3 class="item-title heading-h3">How to ask when doing User Research</h3>
        <p class="item-text text-p-medium">Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?</p>
      </li>
      <li class="article__item item-3">
        <img class="item-img" src="./assets/images/blog/article-img-3.png" alt="">
        <h3 class="item-title heading-h3">Layout Exploration — Simple exercise but big effect</h3>
        <p class="item-text text-p-medium">Make alternatives or other options for the design we are making.For example, we are creating a website design. Then there is the testimonial section.</p>
      </li>
      <li class="article__item item-4">
        <img class="item-img" src="./assets/images/blog/article-img-4.png" alt="">
        <h3 class="item-title heading-h3">Webflow Break the Coding Barrier</h3>
        <p class="item-text text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
      </li>
    </ul>
  </div>
</section>