<section class="hero">
  <div class="page-decor"></div>
  <div class="container hero__container-top">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br>
      always designing and building products that <br>
      will help you run your business better.
    </p>
  </div>
  <div class="container hero__container-main">
    <ul class="hero__list">
      <li class="hero__item">
        <a class="hero__link" href="/">View all</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="/">Design</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="/">Articles</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="/">Product</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="/">Software Development</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="/">Customer Success</a>
      </li>
    </ul>
    <div class="hero__inner">
      <div class="hero__btns">
        <button class="hero__btn hero__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="hero__btn hero__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/blog/slide-img-1.png"
            alt="Man typing on"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="hero__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__article-text">In this article, we'll cover how to create user flows</p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/blog/slide-img-2.png"
            alt="Man typing on"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-text">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
        </div>
        <div class="swiper-slide swiper-slide-three hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/blog/slide-img-3.png"
            alt="Man typing on"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="hero__article-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="hero__article-text">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/blog/slide-img-1.png"
            alt="Man typing on"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <h3 class="hero__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__article-text">In this article, we'll cover how to create user flows</p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/blog/slide-img-2.png"
            alt="Man typing on"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-text">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
