.insight {
  &__container {
    border-top: 1px solid var(--neutral-color-30);
    padding-top: 160px;
    padding-bottom: 91px;

    @include mobile {
      padding-top: 86px;
      padding-bottom: 61px;
    }

    @include small-mobile {
      padding-bottom: 41px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__descr {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include mobile {
      margin-bottom: 55px;
    }
  }

  &__title,
  &__descr {
    text-align: center;
  }

  &__slider {
    position: relative;
    margin-bottom: 20px;
  }

  &__btns {
    @include flex-align-center;
    gap: 16px;
    justify-content: flex-end;
    transform: translateY(-40px);
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    & svg path {
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--neutral-color-100);
      background-color: var(--neutral-color-100);

      & svg path {
        fill: var(--neutral-color-10);
      }
    }

    &--next {
      transform: rotate(-180deg);
    }
  }

  &__pagination{
    @include flex-justify-center;
    position: absolute;
    left: 50vw;
    width: 100px;
    height: 40px;
    transform: translateX(-50%);
    
    .swiper-pagination-bullet{
      margin: 0 5px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(--neutral-color-150);
      transition: var(--transition);
      cursor: pointer;

      &-active{
        background: aqua;
        transform: scale(1.25);
      }
    }
  }

  &__article {
    max-width: 582px;

    @include mini-desktop {
      max-width: 482px;
    }

    @include mobile {
      max-width: 400px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-author {
      font-style: normal;
    }

    &-title {
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: var(--neutral-color-100);
    }
  }
}